.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #ffff;
  }
  
  .footer-content h6 {
    font-size: 0.9em;
    margin-top: 3em;
    color: #15073b;
  }
  
  .sotial-network {
    display: flex;
    justify-content: space-evenly;
    width: 250px;
    margin-top: 3em;
  }
  