.container-skills {
    background-color: #000000;
    padding: 4em;
    max-height: 100vh; 
  }
  
  .skills-heading {
    color: #eba576ee;
    font-size: 1em; 
    margin-top: 70px;
    margin-left: 200px;
  }

  .divider {
    height: 2px;
    width: 60px;
    background-color: #eeee;
    margin-top: 5px;
    margin-bottom: 2em;
    margin-left: 200px;
  }
  
  .info-content__subtitle2 {
    font-size: 3em;
    text-align: center;
    color: #eeee;
    /* padding: 4em; */
    /* margin-left: 200px; */

}


.services_img{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/img/services.png');
  background-size: cover;          
  background-position: center;     
  background-repeat: no-repeat;    
  min-height: 60vh;               
  max-width: 70vw;
  color: #ffff;
  padding: 1em;   
  margin-top: 1em;
  margin-bottom: 1.5em;              
}

.services_img{
  position: relative;
  z-index: 2;                      
}


  .skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    padding: 1em;
  }
  
  .skill {
    width: calc(50% - 20px);
    background-color: #dbdbdb;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
  }
  
  .skill-icon {
    font-size: 24px;
    margin-right: 5px;
  }
  
  .percent {
    font-weight: bold;
  }
  
  .bar {
    height: 10px;
    background-color: #f0f0f0;
    margin-top: 10px;
  }
  
  .progress {
    height: 100%;
    border-radius: 8px;
  }
  
  .html {
    width: 95%;
    background-color: #3498db;
  }
  
  .js {
    width: 95%;
    background-color: #F0DB4F;
  }
  
  .db {
    width: 87%;
    background-color: #27ae60;
  }
  
  .git {
    width: 90%;
    background-color: #34495e;
  }
  
  .python {
    width: 80%;
    background-color: #34495e;
  }
  
  .ds {
    width: 80%;
    background-color: #20ac82;
  }