#portfolio {
  display: grid; 
  flex: 0 0 auto;
  gap: 20px;
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  padding: 5em;
  margin: auto;
  background-color: #000000;
  align-items: center;
}

#portfolio .portfolio-headings {
    color: #eeee;
    font-size: 3em; 
    padding: 1em;
    margin-left: 200px;
  }

#portfolio .info-content__subtitle {
    font-size: 3em;

}

#portfolio .portfolio-headings-2 {
  padding: 4em;
  color: #eeee;
}

#portfolio .divider {
  height: 4px;
  width: 80px;
  background-color: #eeee;
  /* margin-top: 5px; */
  /* margin-bottom: 2em; */
}


.portfolio_img{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('/assets/img/portfolio.png');
  background-size: cover;          
  background-position: center;     
  background-repeat: no-repeat;    
  min-height: 80vh;               
  max-width: 30vw;
  color: #ffff;
  padding: 1em;   
  margin-top: 1em;
  margin-bottom: 1.5em;              
}

.portfolio_img{
  position: relative;
  z-index: 2;                      
}



#portfolio .row {
  display: grid;
  flex: 0 0 auto;
  gap: 20px;
  grid-auto-rows: minmax(0px, 1fr);
  grid-template-columns: repeat(2, minmax(50px, 1fr));
  grid-template-rows: repeat(2, minmax(0px, 1fr));
  justify-content: center;
  overflow: visible;
  padding: 0px;
  position: relative;
  /* width: 1008px; */
}

#portfolio .row .proyect {
   /* max-width: calc(50% - 20px);Hace que los proyectos ocupen el 50% del ancho en dispositivos móviles */
  margin: 0 60px;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

#portfolio .row .proyect img {
  width: 100%;
  height: auto; /* Cambia la altura para que se ajuste automáticamente en dispositivos móviles */
  filter: grayscale(1);
  object-fit: cover;
  transition: .5s;
}

#portfolio .row .proyect:hover img {
  filter: grayscale(0);
}

#portfolio .row .proyect .info {
  position: absolute;
  text-align: center;
  left: 0;
  background-color: rgba(10, 13, 20, .8);
  color: #FFFF;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: .5s;
}

#portfolio .row .proyect:hover .info {
  opacity: 1;
  bottom: 0;
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 768px) {
  #portfolio .row {
    grid-template-columns: repeat(1, minmax(50px, 1fr));
    /* height: 1400px; */
    order: 1;
    width: 100%;
  }

  #portfolio .row .proyect {
    max-width: calc(50% - 20px);
    max-width: 100%; 
    margin-bottom: 20px;
    border-radius: 30px;
  }

  
#portfolio .row .proyect img {
  filter: none;
}
}
